@font-face {
  font-family: 'NeueMontreal';
  src: url('NeueMontreal-Regular.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'NeueMontreal';
  src: url('NeueMontreal-Medium.otf');
  font-weight: 600;
}

html, body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
  max-width: 1600px;
  padding: 60px 100px;
  margin: 0 auto;
  color: #fefefe;
  font-family: NeueMontreal, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  white-space: nowrap;
}

a:hover,a:focus{
  background-color: #fefefe33;
  text-decoration: underline;
}

header{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header .logo{
  height: 100%;
  flex-grow: 1;
  background: url('parallel.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

header svg{
  fill: #fefefe;
  height: 100%;
}

header ul {
  padding: 0px;
  display: flex;
  align-items: baseline;
  transform: translateY(-12px);
}

header ul li {
  margin-left: 40px;
  list-style-type: none;
  font-family: NeueMontreal, sans-serif;
  font-weight: 500;
}

header ul li a {
  text-decoration: none;
  color: #fefefe;
  font-size: 1.3rem;
}

header ul li:first-child{
  margin-left: 0;
}

main {
  flex-grow: 1;
 display: flex;
 flex-direction: column;
 justify-content: center;
 padding-bottom: 40px;
}

main h1 {
  font-size: 3.5rem;
  font-weight: 500;
  max-width: 1200px;
}

main h1 a {
  color: #fefefe;
  font-weight: 600;
}

a[target="_blank"]{
  position: relative;
}

header a[target="_blank"]:hover::after,
main a[target="_blank"]:hover::after {
  content: '\2197';
  color: #fefefecc;
  position: absolute;
  font-size: 1.3rem;
  right: -1rem;
}

footer {
  box-sizing: border-box;
  display: flex;
}

footer address{
  width: 50%;
  display: flex;
  gap: 40px;
  font-size: 1.3rem;
  color: #fefefe;
  font-style: normal;
  font-weight: 500;
}

footer address .physical :not(.name){
  color: #696969;
}

footer address .electronic a {
  color: #fefefe;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

footer address .electronic a:not(.whatsapp):hover {
  text-decoration: underline;
}

footer address .electronic a.whatsapp{
  color: #52FF6A;
  text-decoration: underline;
}

footer address .electronic a.whatsapp:hover{
  background-color: #52FF6A33;
}

/* footer a[href^="mailto:"]:hover::after {
  content: '🖃';
  color: #fefefe;
  position: absolute;
  font-size: 1.3rem;
  right: -1rem;
} */

@supports (-moz-appearance:none) {
  main a[target="_blank"]:hover::after {
    content: '';
  }
}

@media screen and (max-width: 1200px) {
  footer address {
    flex-direction: column;
  }
}

@media screen and (max-height: 750px) {
  main h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 750px) {
  body {
    padding: 60px;
  }
  main h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 675px) {
  body {
    height: auto;
    padding: 40px;
  }

  header .logo{
    height: 40px;
  }

  header ul {
    transform: translateY(-9px);
  }

  main {
    margin: 60px 0;
  }

  footer {
    flex-direction: column;
  }

  footer address {
    width: 100%;
    gap: 20px;
  }

  footer address:first-child{
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 600px) {
  main h1 {
    font-size: 2.5rem;
  }

  header ul li {
    margin-left: 30px;
  }
}

@media screen and (max-width: 420px) {
  header .logo{
    background: url('prll.svg');
    background-repeat: no-repeat;
  }
  main h1{
    font-size: 2rem;
  }
}